<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
        <div class="col-xl-12 mytextdiv" style="margin-top: 50px;">
              <pre class="mytexttitle" style="font-size: 20px;margin: 0 0 0 0;padding: 0 0 0 0;font-size: 25px; font-weight: bold;">Projects   </pre>
              <div class="divider"></div>
        </div>
        <!-- <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-5">
                        <div class="card1" style="width:100%;background-color: greenyellow;">
                        <img class="card-img-top" src="c" alt="Card image" style="width:100%;">
                        <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                        </div>
                </div>
                <div class="col-xl-5">
                        <div class="card1" style="width:100%;background-color: greenyellow;">
                        <img class="card-img-top" src="/assets/Profilepic.jpg" alt="Card image" style="width:100%;">
                        <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                        </div>
                </div>
                <div class="col-xl-12"></div>
        </div> -->
        <div class="container bcontent">
                <div class="card1" style="width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-xl-5">
                            <img class="card-img" src="/assets/Profilepic.jpg" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-xl-7">
                            <div class="card-body">
                                <h5 class="card-title">Suresh Dasarihgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</h5>
                                <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                <a href="#" class="btn btn-primary">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<style>
        .bcontent {
            margin-top: 10px;
        }
    </style>