<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" style="margin-top: 15%;">
    <div class="row">
        <div class="col-xl-12 mytextdiv" style="margin-top: 50px;">
              <pre class="mytexttitle" style="font-size: 20px;margin: 0 0 0 0;padding: 0 0 0 0;font-size: 25px; font-weight: bold;">Contact   </pre>
            <div class="divider"></div>
        </div>
        <div class="container" style="text-align: center;">
            <div class="row" style="margin-top: 5%;">
                <div class="col-xl-4"></div>
                <div class="col-xl-4">
                    <p>
                        Get in touch, I'm message away from you for any suggestions, mistake corrections, to connect on social media
                        follow the smart icons. 
                    </p>
                    <a href="https://www.facebook.com/rajeshwar.rajeshwar.71066/">
                        <img src="/assets/facebook-f-brands.svg" style="width: 10px;height:auto;margin-right:1vw;"/>
                    </a>
                    <a href="https://www.instagram.com/rajeshwar_itsme/">
                        <img src="/assets/instagram-brands.svg" style="width: 20px;height:auto;margin-right: 1vw;"/>
                    </a>
                    <a href="mailto:t4svacerajeshwar@gmail.com?subject=Hie!">
                        <img src="/assets/envelope-regular.svg" style="width: 20px;height:auto;margin-right: 1vw;"/>
                    </a>
                    <a href="https://www.linkedin.com/in/tolkatte-rajeshwar-86858b138/">
                        <img src="/assets/linkedin-in-brands.svg" style="width: 20px;height:auto;margin-right: 1vw;"/>
                    </a>
                    <a href="https://github.com/RAJESHWAR-PRO">
                        <img src="/assets/github-brands.svg" style="width: 20px;height:auto;"/>
                    </a>
                </div>
                <div class="col-xl-4"></div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;background-color: black;margin-top: 5%;text-align: center;">
    <p>For better experience view in Chrome & Mozilla Firefox. Upgrade the Edge to the latest version for better experience</p>
</div>
