<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Rajeshwar | Developer</title>
    <header class="sticky1" id="navbar" onload="myFunction()">
        <div class="topnav" id="myTopnav">
            <a class="active" href="#" (click)="scrollWelcome()"> Rajeshwar </a>
            <a (click)="scrollAbout()">About</a>
            <a (click)="scrollEducation()">Education</a>
            <a (click)="scrollExperience()">Experience</a>
            <a (click)="scrollProjects()">Projects</a>
            <a (click)="scrollContact()">Contact</a>
            <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
<!-- <div id="loader"></div> -->
<div class="container" id="spinLoader" style="background-color: inherit;">
	
	<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
		 <circle cx="170" cy="170" r="160" stroke="tomato"/>
		 <circle cx="170" cy="170" r="135" stroke="black"/>
		 <circle cx="170" cy="170" r="110" stroke="tomato"/>
		 <circle cx="170" cy="170" r="85" stroke="black"/>
	</svg>
	
</div>
<section class="web_homePage" (scroll)="onWindowScroll($event);" > 
    <!-- rest of the html code goes here -->
</section>

<app-welcome id="welcomeSection" ></app-welcome>
<app-about id="aboutSection" ></app-about>
<app-education id="educationSection" ></app-education>
<app-experience id="experienceSection" ></app-experience>
<app-projects id="projectsSection" ></app-projects>
<app-contact id="contactSection" ></app-contact>
